<div class="main">
    <h1 class="user-id">Hello</h1>
    <h1 class="tools">Tools</h1>
    <div class="button">
        <h1>Dashboard</h1>
        <i class="fa-solid fa-grid-horizontal"></i>
    </div>
    <div class="button">
        <h1>Employees</h1>
        <i class="fa-solid fa-grid-horizontal"></i>
    </div>
    <div class="button">
        <h1>Leave calender</h1>
        <i class="fa-solid fa-grid-horizontal"></i>
    </div>
    <div class="button">
        <h1>Other</h1>
        <i class="fa-solid fa-grid-horizontal"></i>
    </div>

</div>